.admin-sidebar {
  .ps-sidebar-root {
    height: 100vh !important;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    /*  overflow: hidden;

    &:hover {
      overflow-y: auto;
      overflow-x: auto;
    }

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.4);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.6);
    } */
    .ps-sidebar-container {
      background-color: black;
      overflow-y: hidden;
      overflow-x: hidden;
      .ps-menu-root {
        .ps-menuitem-root {
          &:hover {
            background-color: #149c43;
          }
          .ps-menu-button {
            background: transparent;

            .ps-menu-icon {
              font-size: 20px;
            }
          }

          span {
            font-weight: 500;
          }
        }
        .active {
          background: #2e2e2e; /* màu xám đậm */
          color: #1db954;
          font-weight: 800;
          &:hover {
            background-color: #1db954;
            color: white;
          }
        }
      }
    }

    // Sidebar footer
    .sidebar-footer-container {
      height: 5rem;
      display: flex;
      align-items: center;
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.1);
      margin-top: 220px;
      .sidebar-footer-content {
        width: 100%;
        font-size: 0.85rem;
        color: #fff;

        .sidebar-footer-subtitle {
          font-size: 0.75rem;
          color: rgba(255, 255, 255, 0.7);
        }

        .sidebar-login-name {
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
}
